.taskNumber-dark {
  color: #f7f6f6;
  border: 1px solid #f7f6f6;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}
