.taskBg-dark {
  background-color: rgb(57, 59, 60);
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
  border-radius: 30px;
}

.taskBg-dark div {
  display: flex;
  align-items: center;
}

.taskBg-dark .taskText {
  flex: 1;
}

.taskBg-dark .completed .taskText {
  text-decoration: line-through;
  opacity: 0.3;
  color: #555;
  flex: 1;
}

.taskBg-dark .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg-dark .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
}

.taskBg-dark .iconsWrap span:hover {
  color: #04346b;
}
